@media (max-width:601px){.modal-content{margin:50px 10px 10px 10px;width:auto !important}}
@media (max-width:768px){.modal-content{width:250px}}
@media (min-width:992px){.modal-content{width:450px}}

.modal{
	z-index: 1; display: none; padding-top: 8%; padding-bottom: 2%; position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.6);
	}
.modal-content{ width: 560px; margin: auto; background-color: #FFF; border:1px solid #ccc; border-radius: 10px; position: relative; padding: 0; outline: 0; 
}

.closebtn{ text-decoration: none; float: right; font-size: 24px; font-weight: bold; padding: 14px 4% 0%;
}
.modal-header{ padding: 15px; border-bottom: 1px solid #e5e5e5;
}
.modal-body{ position: relative; padding: 14px 30px; height: 300px; overflow: auto;
}
.modal-body p{ font-size:14px; line-height:18px; font-weight:normal; margin-top:5px; text-align:left;
}
.text-title{ margin-right: 100px; font-weight: bold;
}
.text-enviroment{ margin-right: 45px; font-weight: bold;
}
.text-role{ margin-right: 100px; font-weight: bold;
}
.text-team{ margin-right: 64px; font-weight: bold;
}
.text-duration{ margin-right: 72px; font-weight: bold;
}
.modal-footer{ padding: 15px; text-align: right; border-top: 1px solid #e5e5e5;
}
.btn-default { padding: 6px 12px; color: #333; background-color: #fff; border:1px solid #ccc; border-radius: 5px; cursor: pointer;
}
.btn-default:hover { background-color: #e6e6e6; border:1px solid #adadad; border-radius: 5px;
}

.closebtn:hover,.closebtn:focus{ color: red; text-decoration: none; cursor: pointer;
}