*{
	margin:0; padding:0;
}
/*-------------------------
	General Styles
--------------------------*/
html{
	background: url('../images/bg_tile.jpg') #18222b;
}
body{
	color:#0f3549;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	min-height: 230px;
	background:url('../images/bg_center.jpg') center 174px no-repeat;
}
a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}
a:hover{
	text-decoration:underline;
}
/*----------------------------
	Headers & Footers
-----------------------------*/
header{
	background:url('../images/header.png') repeat-x;
	display: block;
	height: 154px;
	padding: 10px;
}
h1{
	background:url('../images/my_logo.png') no-repeat center center;
	height: 80px;
	margin: 36px auto;
	overflow: hidden;
	text-align: center;
	text-indent: -99999px;
}
/*----------------------------
	Green filter bar
-----------------------------*/


#filter {
	background: url("../images/bar.png") repeat-x 0 -94px;
	display: block;
	height: 39px;
	margin: 55px auto;
	position: relative;
	width: 78%;
	text-align:center;
	
	-moz-box-shadow:0 4px 4px #000;
	-webkit-box-shadow:0 4px 4px #000;
	box-shadow:0 4px 4px #000;
}
#filter:before, #filter:after {
	background: url("../images/bar.png") no-repeat;
	height: 43px;
	position: absolute;
	top: 0;
	width: 78px;
	content: '';
	
	-moz-box-shadow:0 2px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow:0 2px 0 rgba(0,0,0,0.4);
	box-shadow:0 2px 0 rgba(0,0,0,0.4);
}
#filter:before {
	background-position: 0 -47px;
	left: -78px;
}
#filter:after {
	background-position: 0 0;
	right: -78px;
}
#filter a {
	color: #FFFFFF;
	display: inline-block;
	height: 39px;
	line-height: 37px;
	padding: 0 15px;
	text-shadow:1px 1px 1px #315218;
}
#filter a:hover {
	text-decoration:none;
}
#filter a.active {
	background: url("../images/bar.png") repeat-x 0 -138px;
	box-shadow:	1px 0 0 rgba(255, 255, 255, 0.2),
				-1px 0 0 rgba(255, 255, 255, 0.2),
				1px 0 1px rgba(0,0,0,0.2) inset,
				-1px 0 1px rgba(0,0,0,0.2) inset;
}
/*----------------------------
	Content area
-----------------------------*/
#container {
	width: 100%;
	display:block;
	overflow:hidden;
	margin:2% auto;
}

#container li {

	float: left;
	height: 100px;
	list-style: none outside none;
	margin: 6px;
	position: relative;
	width: 150px;
	cursor: pointer;
	
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

#container li .overlay{ width:100%; height:100%; position:absolute; top:0px; left:0px; background:rgba(0,0,0,.6); display:none;
}
#container li .btn-readmore{ border:1px solid #FFF; padding:10px 20px; position:relative; top:33%; margin-left: 12px; cursor:pointer; background:none; color:#fff;
}
#container li .btn-readmore:hover{ background:#fff; color:#0f3549; border-color:#fff;
}
#container li:hover .overlay{ display:block;
}

#container ul {
	overflow:hidden; display: flex; flex-wrap: wrap; justify-content: space-around; margin: 1% 0;
}
#container ul li {
	min-height: 100px; margin: 2%;
}
#container ul.hidden {
	display:none;
}

@media screen and (max-width: 767px) {
	#filter {
		display: none;
	}
}