*{margin: 0; padding: 0; box-sizing: border-box; }

html{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

body {
  margin:0;
  line-height: 1.5;
}

div {
  display: block;
}